extends ../layouts/common

block content
    h1 Create page

    if errors
        each error in errors
            .alert.alert-danger= error

    form(aciont="/users/create", method="POST")
        .form-group
            label(for="inputname") Input name 
            input#inputname.form-control.col-6(type="text", name="name",size="20", value=(valid) ? valid.name : '' )

        .form-group
            label(for="inputphone") Input phone 
            input#inputphone.form-control.col-6(type="text", name="phone",size="20" value=(valid) ? valid.phone : '')


            button.btn.btn-danger.mt-2 Create