extends ../layouts/common

block content
  h1 User page
  a.btn.btn-light.m-3(href="users/create") Create a new one

  table.table
    tr
      th
        label Name
      th 
        label phone
      th 
        label View profile
    each user in users
      tr
        td.pt-3= user.name
        td.pt-3= user.phone
        td
          a.btn.btn-primary.px-4(href="/users/"+user.id) View