extends ../layouts/common

block content
  h1 user page

  a(href="users/create") Create a new one
  ul
    each user in users
      li
        span= user.name
        span &nbsp;
        a(href="/users/"+user.id) View